In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
data = pd.date_range("2018-01-01 00:00:00.003825297", "2018-01-01 00:00:10.000083741", freq='ms')
data

DatetimeIndex(['2018-01-01 00:00:00.003825297',
               '2018-01-01 00:00:00.004825297',
               '2018-01-01 00:00:00.005825297',
               '2018-01-01 00:00:00.006825297',
               '2018-01-01 00:00:00.007825297',
               '2018-01-01 00:00:00.008825297',
               '2018-01-01 00:00:00.009825297',
               '2018-01-01 00:00:00.010825297',
               '2018-01-01 00:00:00.011825297',
               '2018-01-01 00:00:00.012825297',
               ...
               '2018-01-01 00:00:09.990825297',
               '2018-01-01 00:00:09.991825297',
               '2018-01-01 00:00:09.992825297',
               '2018-01-01 00:00:09.993825297',
               '2018-01-01 00:00:09.994825297',
               '2018-01-01 00:00:09.995825297',
               '2018-01-01 00:00:09.996825297',
               '2018-01-01 00:00:09.997825297',
               '2018-01-01 00:00:09.998825297',
               '2018-01-01 00:00:09.999825297'],
              dtype='datetime64[ns]', length=9997, freq='L')

In [3]:
test = []
for i in data:
    test.append(pd.Timestamp(i))

In [4]:
len(test)

9997

In [10]:
# Building an example DataFrame with fake market data
bid = np.random.rand(len(test))
ask = bid + 0.01
df = pd.DataFrame({
    'day_time': test,
        'bid': bid,
        'ask': ask
    },
).set_index('day_time')
df.head()

                                    bid       ask
day_time
2018-01-01 00:00:00.003825297  0.296034  0.306034
2018-01-01 00:00:00.004825297  0.882743  0.892743
2018-01-01 00:00:00.005825297  0.919627  0.929627
2018-01-01 00:00:00.006825297  0.564230  0.574230
2018-01-01 00:00:00.007825297  0.587359  0.597359

In [11]:
full_idx = pd.date_range(start=df.index.min(), end=df.index.max(), freq='1s')
full_idx

DatetimeIndex(['2018-01-01 00:00:00.003825297',
               '2018-01-01 00:00:01.003825297',
               '2018-01-01 00:00:02.003825297',
               '2018-01-01 00:00:03.003825297',
               '2018-01-01 00:00:04.003825297',
               '2018-01-01 00:00:05.003825297',
               '2018-01-01 00:00:06.003825297',
               '2018-01-01 00:00:07.003825297',
               '2018-01-01 00:00:08.003825297',
               '2018-01-01 00:00:09.003825297'],
              dtype='datetime64[ns]', freq='S')

In [12]:
grouped_df = df
final = grouped_df.reindex(full_idx, method='nearest')
final.index.name='Voila'
final

                                    bid       ask
Voila
2018-01-01 00:00:00.003825297  0.296034  0.306034
2018-01-01 00:00:01.003825297  0.825268  0.835268
2018-01-01 00:00:02.003825297  0.431450  0.441450
2018-01-01 00:00:03.003825297  0.760315  0.770315
2018-01-01 00:00:04.003825297  0.729683  0.739683
2018-01-01 00:00:05.003825297  0.977413  0.987413
2018-01-01 00:00:06.003825297  0.980774  0.990774
2018-01-01 00:00:07.003825297  0.716201  0.726201
2018-01-01 00:00:08.003825297  0.546243  0.556243
2018-01-01 00:00:09.003825297  0.162317  0.172317